.App {
  text-align: center;
}

.map-nav {
  display: flex;
  padding: .8rem;
}

/* Hamburger from W3 schools */

.hamburger-container {
  margin-left: .2rem;
  cursor: pointer;
  padding: 5px;
}

.hamburger-bar {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

.nav-title {
  margin: auto;
}
