.App {
  text-align: center;
}

.map-nav {
  position: absolute;
  background: white;
  width: 100%;
  display: flex;
  padding: .8rem;
}

.map-sidebar {
  position: absolute;
  margin-top: 75px;
  width: 250px;
  height: 100%;
  background-color: white;
  border-top: 1px solid;
}

.sidebar-input {
  margin-top: 1rem;
}

.map-sidebar ul {
  list-style: none;
  padding: 0;
}

.map-sidebar li {
  padding: 1rem;
}

.map-sidebar li:hover {
  background-color: black;
  color: white;
}

/* Hamburger from W3 schools */

.hamburger-container {
  margin-left: .2rem;
  cursor: pointer;
  padding: 5px;
}

.hamburger-bar {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

.nav-title {
  margin: auto;
}


